<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fastdoctor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".patient.HomePatient" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".patient.HomePatient" />
        <activity android:name=".patient.HomePatient" />
        <activity android:name=".patient.SignUp2Patient" />
        <activity android:name=".patient.SignUp1Patient" />
        <activity android:name=".doctor.SignUp1Doctor" />
        <activity android:name=".doctor.SignUp2Doct" />
        <activity android:name=".doctor.HomeDoctor" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>